# shellcheck options.
# Reference: https://www.shellcheck.net/wiki/Ignore

# Allow `source ./other.sh`-style includes without resolving them.
external-sources=true

# Don't warn about $RANDOM use in tests.
disable=SC2002,SC2155
